<mat-drawer-container class="drawer-container" [hasBackdrop]="true">
  <mat-drawer-content (scroll)="onScroll($event)">
    <mat-toolbar [class.scroll]="isScroll" color="primary">
      <div class="default-width flex-row space-between">
        <section class="flex-row flex-row-nav">
          <div class="flex-row">
            <button
              mat-icon-button
              class="menu-icon"
              aria-label="Icon-button with menu icon"
              (click)="drawer.toggle()"
            >
              <mat-icon>menu</mat-icon>
            </button>
            <h3>Chann Yeng</h3>
          </div>
          <app-nav-bar />
        </section>
        <span class="example-spacer"></span>
        <!-- Right -->
        <div class="flex-row gap-10">
          <button
            mat-icon-button
            class=""
            aria-label="Toggle mode button"
            (click)="themeService.toggleTheme()"
          >
            <mat-icon>light_mode</mat-icon>
          </button>
          <a
            class="download-cv-button display-none"
            href="/assets/CHANN YENG web developer CV.pdf"
            target="_blank"
            rel="noopener"
          >
            <button mat-flat-button>
              <mat-icon>rocket_launch</mat-icon>
              View CV
            </button>
          </a>
          <a
            href="/assets/CHANN YENG web developer CV.pdf"
            download
            class="download-cv-button display-none"
            rel="noopener"
          >
            <button mat-stroked-button>
              <mat-icon>vertical_align_bottom</mat-icon>
              Download CV
            </button>
          </a>
        </div>
      </div>
    </mat-toolbar>
    <div class="page-layout-width">
      <div style="margin: 55px 0"></div>
      <router-outlet />
    </div>
  </mat-drawer-content>
  <mat-drawer #drawer>
    <div class="close-drawer-button">
      <h2>Chann Yeng</h2>
    </div>
    <app-drawer [drawer]="drawer" />
  </mat-drawer>
</mat-drawer-container>
