<mat-drawer-container class="drawer-container" [hasBackdrop]="true">
  <mat-drawer #drawer>I'm a drawer</mat-drawer>
  <mat-drawer-content>
    <mat-toolbar>
      <button
        mat-icon-button
        class="menu-icon"
        aria-label="Icon-button with menu icon"
        (click)="drawer.toggle()"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <h1>Chann Yeng</h1>
      <span class="example-spacer"></span>
      <button mat-icon-button class="" aria-label="Toggle mode button">
        <mat-icon>light_mode</mat-icon>
      </button>
    </mat-toolbar>

    <router-outlet />
  </mat-drawer-content>
</mat-drawer-container>
