<section class="margin-top-100 main">
  <div>
    <app-page-title title="Get in touch" />
    <p class="sub-title">
      What’s next? Feel free to reach out to me if you're looking for a
      developer, have a query, or simply want to connect.
    </p>
    <div class="margin-top-40"></div>
    <a href="mailto:channyengcambo&#64;gmial.com" class="mail">
      <mat-icon>mail</mat-icon>
      <p>channyengcambo&#64;gmial.com</p>
      <button mat-icon-button>
        <mat-icon>content_copy</mat-icon>
      </button>
    </a>
    <a class="mail" href="tel:016522078">
      <mat-icon>call</mat-icon>
      <p>016522078</p>
      <button mat-icon-button class="phone-copy">
        <mat-icon>content_copy</mat-icon>
      </button>
    </a>
    <div class="more-contact">
      <p style="color: gray">You may also find me on these platforms!</p>
      <div>
        <button mat-icon-button>
          <mat-icon><i class="fa-brands fa-github"></i></mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon>
            <i class="fa-brands fa-telegram"></i>
          </mat-icon>
        </button>
      </div>
    </div>
  </div>
</section>
