.card-description {
  padding: 10px;
  p {
    line-height: 20px;
    margin: 20px 0 20px;
  }
}

.image-wrapper {
  width: 100% !important;
  max-height: 100% !important;
  overflow: hidden;
  display: flex !important;
  align-items: center;
  justify-content: center;

  img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    transition: transform 0.2s;
    cursor: pointer;
  }

  img:hover {
    -ms-transform: scale(1.01);
    -webkit-transform: scale(1.01);
    transform: scale(1.01);
  }
}

.label-wrapper {
  display: flex;
  align-items: start;
  flex-wrap: wrap;
  gap: 5px;
}

.not-allowed-cursor {
  cursor: not-allowed;
}
.wrapper {
  display: flex;
  flex-direction: column;
}
mat-card-actions {
  display: flex;
  align-items: end;
  justify-content: end;
  margin-top: 10px;
}
@media only screen and (min-width: 768px) {
  mat-card {
    display: flex !important;
    flex-direction: row;
    gap: 20px;

    .card-description {
      width: 50% !important;
      padding: 20px;
    }
    mat-card-actions {
      align-items: start;
      justify-content: start;
    }
  }
}

@media only screen and (min-width: 992px) {
  .label-wrapper {
    width: 50%;
  }

  .image-wrapper {
    width: 50% !important;
  }
  .wrapper {
    flex-direction: row;
  }

  .flex-revers {
    flex-direction: row-reverse;
  }
  // img {
  //   max-width: 500px !important;
  //   height: auto;
  // }
}
