/* You can add global styles to this file, and also import other style files */
@use "@angular/material" as mat;

html {
  @include mat.theme(
    (
      color: mat.$azure-palette,
      typography: Roboto,
      density: -2,
    )
  );
}

html.dark-mode {
  color-scheme: dark;
  @include mat.theme(
    (
      color: mat.$cyan-palette,
      typography: Roboto,
      density: -2,
    )
  );
}
html.light-mode {
  color-scheme: light;
  @include mat.theme(
    (
      color: mat.$azure-palette,
      typography: Roboto,
      density: -2,
    )
  );
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.nav-item {
  display: none !important;
}
.active-button {
  background-color: #007fff !important;
  color: white !important;
}

mat-toolbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  transition: background-color 0.3s ease;
}

.display-none {
  display: none !important;
}

// Ensure the theme covers the entire app

@media only screen and (max-width: 600px) {
}

@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  mat-drawer {
    visibility: hidden !important;
    transform: translateX(-100%) !important;
    display: none !important;
  }

  .menu-icon {
    display: none !important;
  }

  .default-width {
    width: 80% !important;
    margin: 0 auto !important;
  }

  .nav-item {
    display: flex !important;
  }

  .display-none {
    display: block !important;
  }
}

@media only screen and (min-width: 992px) {
}

@media only screen and (min-width: 1200px) {
}
